
@{
    ViewBag.Title = "Change password";
    Layout = "~/Views/Shared/admin.cshtml";
}
<div class="row ps-4">

    <div class="card-body">
        <div>
            <h4 class="card-title" style="color:#c6003d;">Change Password</h4>

        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group col-sm-3 mt-3 ">
                <label for="exampleInputEmail">Old Password</label>
                <input type="password" class="form-control" aria-describedby="Category" />

            </div>
            <div class="form-group col-sm-3 mt-3 ">
                <label for="exampleInputEmail">New Password</label>
                <input type="password" class="form-control" aria-describedby="Category" />

            </div>
            <div class="form-group col-sm-3 mt-3">
                <label for="exampleInputEmail">Comfirn Password</label>
                <input type="password" class="form-control" aria-describedby="Category" />

            </div>
            <input class="btn btn-danger mt-3" type="submit" style="background:#c6003d;" value="Change Password" />
        </form>
        </div>




        <div class="col-sm-7 mt-4 ms-5 card text-center">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Old Password</th>
                            <th>New Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
